*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Inter, Arial;
}

body{
  background:#0B0E11;
  color:white;
}

.hero{
  padding:80px 40px;
  text-align:center;
}

.hero h1{
  font-size:44px;
  font-weight:900;
  letter-spacing:1px;
}

.hero p{
  margin-top:10px;
  opacity:.8;
}

.container{
  width:1100px;
  max-width:90%;
  margin:auto;
}

.section-title{
  margin:20px 0 10px 0;
  font-weight:700;
  opacity:.9;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(260px,1fr));
  gap:20px;
  padding:20px 0 60px 0;
}

.card{
  background:#11151b;
  border-radius:14px;
  overflow:hidden;
  border:1px solid rgba(255,255,255,0.06);
  transition:0.25s;
  cursor:pointer;
}

.card:hover{
  transform:translateY(-4px);
  border-color:#6cffea;
}

.card img{
  width:100%;
  height:150px;
  object-fit:cover;
}

.card h3{
  padding:12px 14px 2px 14px;
  font-size:17px;
}

.card p{
  padding:0 14px 14px 14px;
  opacity:.7;
  font-size:14px;
}

footer{
  text-align:center;
  opacity:.5;
  padding:30px 0;
}
